:root {
    --TexColor: black;
    --main-color: rgb(213, 212, 212);
    --black: #13131a;
    --bg: #b3b3b7;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;


}


* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /*todos os textos começam com letra maiúscula*/
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url('images/2.png');
    background-repeat: no-repeat;
    
    background-size: cover;
   
    background-position: bottom;
   
    background-attachment: fixed;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    align-items: center;
    

}


section {

    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1300px;


}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    
    background-color: var(--main-color);

}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-height: 10rem;

}


.navBar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: black;

}

.navBar a:hover {

    border-bottom: 0.1rem solid black;


    padding-bottom: 0.5rem;
    font-size: 2rem;


}


.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 35px;
    height: 35px;

}

.btn {
    background-color: var(--main-color);
    color: var(--TexColor);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;

}

.btn:hover {
    letter-spacing: 0.1rem;
}

.home-container {
    display: flex;
    background: url("images/home2.png");

    background-position: bottom;
    background-size: cover;
   
    
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    
    gap: 10rem;


}

.content {
    max-width: 60rem;
}

.content h3 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.content p {
    color: #fff;
    text-align: justify;
    font-size: 2rem;
    font-weight: 100;
    line-height: 3.5rem;
    padding: 1rem 0;

}

.title {
    background-color: #fff;
    font-size: 4rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;

}



.about .row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    gap: 1.5rem;

}

.about >.row >.content {
   
    padding: 2rem;
    flex: 1;

}


.about .row .content h3 {
    font-size: 3rem;
    color: var(--TexColor);
}

.about .row .content p {
    font-size: 2rem;
    font-weight: 300;
    color: var(--TexColor);
    padding: 1rem 0;
    line-height: 1.8;
}

.about > .row > .container-img{

    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;

}
.about > .row > .container-img > img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
    background-size: cover;
    /* Faz a imagem cobrir toda a tela */
    background-position: bottom;
    /* Centraliza a imagem */
    


}


.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.itens .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
    background-color: #fff;
}





.itens .box-container .box img {
    min-height: 15rem;
    min-width: 15rem;
    
}

.itens .box-container .box h3 {
    color: var(--TexColor);
    font-size: 2rem;
    padding: 1rem 0;

}

.itens .box-container .box .price {
    color: var(--TexColor);
    font-size: 2.0rem;
    padding: 0.5rem 0;

}

.itens .box-container .box .price span {
    font-size: 1.3rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.itens .box-container .box:hover {
    box-shadow: 0 0 20px 5px #000000;
    background-color: #ebebeb;
    
    

}


.footer {
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
    background-color: #000000;
}

.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover {
    background-color: var(--TexColor);
}



.cart-count {


    background-color: red;
    color: var(--TexColor);
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: bold;

}

.cart {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 90px;
    right: 0;
    z-index: 95;
    


}


.btnCloseCart {
    background-color: #fff;
    color: var(--TexColor);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    display: inline-block;    
    flex-direction: row-reverse;
    border:  0.1rem solid #007BFF;
}

.btnCloseCart:hover {
    background-color: #b4b4b4;
}



#cartItens {
    padding: 1.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30rem;
    max-width: 40rem;
    max-height: 40rem;
    gap: 1.5rem;
    overflow-y: auto;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
    border:  0.1rem solid #007BFF;


}

.itenCart {
    padding: 0.5rem;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 0 0 1px #007BFF;
    flex-grow: 1;
    min-width: 30rem;

}
#totalCart{
    background-color: #b4b4b4 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

}

.price {
    font-size: 1.5rem;
}

.price span {
    font-size: 0.8rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.ocult {
    display: none;
}

.btnTrashIten {
    background-color: transparent;

    cursor: pointer;

    display: inline-block;
}



#totalCart {
    min-width: 30rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 1rem;
    color: var(--TexColor);
    font: 1.5rem sans-serif;



}

#totalPrice {
    margin-left: 1rem;
    color: var(--TexColor);
    font: 1.5rem sans-serif;
}

@media (max-width: 768px) {
    .header{
        position: absolute;
    }
    .header section nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        gap: 1rem;

    }
    .header  section nav a{
        font-size: 1.9rem ;
    }

    #home .content{
        display: flex ;
        align-items: center ;
        flex-direction: column ;

    }
    #home .content h3{
        font-size: 2.5rem;
    }

    .row .container-img{
        display: none !important;
    }
    

    .row  > .content{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        
    }
    .row .content h3 {
        font-size: 2.5rem !important;
    }

    .row .content p {
        padding: 2.5rem !important;
    }

    

}